defaults:
  - _self_
  - algo: ???

global_seeds: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
overwrite: false
concurrency: 30

spatial_train_test_split:
  init_frac: 0.02
  levels: 1
  buffer: 1
  # seed: 0

spaceenv: climate_wfsmoke_minrty_disc  # must be a valid spaceenv
logfile: benchmarks/results/${spaceenv}/${hydra:runtime.choices.algo}.jsonl
tunefile: benchmarks/results/${spaceenv}/${hydra:runtime.choices.algo}_tune.parquet

algo:  # these config must be overwritten by algo/*.yaml
  needs_train_test_split: ???
  name: ${hydra:runtime.choices.algo}

  method:
    _target_: ???  # most point to a SpaceAlgo

  tune:  # ray tune resources, can override  in algo/*.yaml but not needed
    param_space: {}
    resources:
      cpu: 4
      gpu: 1
    tune_config:
      _target_: ray.tune.TuneConfig
      num_samples: ${oc.select:tune_map.${algo.name},16}
      max_concurrent_trials: ${concurrency}
      scheduler:
        _target_: ray.tune.schedulers.ASHAScheduler
      mode: min
    run_config:
      _target_: ray.air.RunConfig
      storage_path: benchmarks/ray_cache/${spaceenv}/${hydra:runtime.choices.algo}

tune_map:
  deconfounder_r0_unet_tune: 150
  deconfounder_r1_unet: 150
  deconfounder_r2_unet: 150
  deconfounder_r3_unet: 150
  
  deconfounder_r0_spatialplus_tune: 150
  deconfounder_r1_spatialplus_tune: 150
  deconfounder_r2_spatialplus_tune: 150
  deconfounder_r3_spatialplus_tune: 150

hydra:
  run:
    dir: logs/${spaceenv}/${hydra:runtime.choices.algo}
